<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="FASTbot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import FASTbot urdf file -->
    <xacro:include filename="$(find my_robot_description)/urdf/robot_arm.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="FASTbot.ros2_control.xacro" />

    <link name="world"/>
    <xacro:robot_arm parent_link='world' xyz='0 0 0' rpy='0 0 0' gazebo='false'/>
    <xacro:FASTbot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
